
@(file : Array[java.io.File],comment: Form[forms.Commentform.Data],user:models.User,roleuser:Option[models.DBUserRole],stu : Option[models.DBUser])(implicit request: RequestHeader, messages: Messages)

@maincs(comment,Some(user),roleuser){
  <br>
  <br>
<style media="screen">

</style>
  <fieldset class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

   <div class="navbar navbar-inverse">

     <a class="navbar-brand" >
     <i class="fa fa-folder" aria-hidden="true"></i></i><font color = "white" > &nbsp; @stu.map{ s => @s.fullName}</font>
   </a>
 </div>
      <div class="panel-body" >


        <table class="table table-striped">
          @for(f <- file){
            @if(f.getName != "รูปภาพ"){
              <tr>
                <td><i class="fa fa-folder-open" aria-hidden="true"></i><a href="@routes.CscloudstorageController.listfilesInfileStu(f.getName)">  @f.getName </a><td>
              </tr>
            }
          }
        <table>
      </div>
    </div>
  </fieldset>


}
