@(user: models.User,detail:Seq[models.DBDetail])(implicit request: RequestHeader, messages: Messages)

@maincs() {

  <!-- Page Content -->
  <div class="container">

      <div class="row">

          <div class="col-md-12">


              <div class="row">

                  @for(a <- detail){
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@routes.Assets.at("images/imgCsCloud/")@a.img" alt="@a.topic">
                            <div class="caption">
                              <h4><a href="@routes.CscloudstorageController.showDetial(a.userID)">@a.topic</a></h4>
                            </div>
                        </div>
                    </div>
                  }
              </div>

          </div>

      </div>

  </div>
  <!-- /.container -->
}
