@(comment: Form[forms.Commentform.Data],user:models.User,roleuser:Option[models.DBUserRole],relation : Seq[models.DBAdviser],users : Seq[models.Modellist])(implicit request: RequestHeader, messages: Messages)

@maincs(comment,Some(user),roleuser){

  <br>
  <br>
<style media="screen">

</style>
  <fieldset class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

   <div class="navbar navbar-inverse">

     <a class="navbar-brand" >
     <i class="fa fa-folder" aria-hidden="true"></i></i><font color = "white" > &nbsp; โครงการนักศึกษา</font>
   </a>

 </div>
      <div class="panel-body" >


        <table class="table table-striped">
          @for(r <- relation){
            @for(u <- users){
              @if(r.stuID == u.userID){
              <tr>
                <td><i class="fa fa-folder-open" aria-hidden="true"></i><a href="@routes.CscloudstorageController.listfilesInfolderStu(u.userID.toString)">  @u.fullName </a><td>
                </tr>
              }
              }
          }
        <table>
      </div>
    </div>
  </fieldset>

}
