@(user:models.User,roleuser:Option[models.DBUserRole],comment : Form[forms.Commentform.Data])(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor
@maincs(comment,Some(user),roleuser) {
  <br>
  <br>
  <br>
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-body">
                <div class="col-sm-12">
                  <h2 class="text-center"><b>รายละเอียดโครงการ</b> </h2><br>
                  <div class="col-lg-1  col-lg-offset-4">
                    <a ><img src="assets/images/doc.png" class="img-responsive"></a>
                  </div>
                  <div class="col-lg-1">
                    <a ><img src="assets/images/code.png" class="img-responsive"></a>
                  </div>
                  <div class="col-lg-1">
                    <a ><img src="assets/images/pdf.png" class="img-responsive"></a>
                  </div>
                  <div class="col-lg-1">
                    <a ><img src="assets/images/zip.png" class="img-responsive"></a>
                  </div>
               <br>
               <br>

               @helper.form(routes.CscloudstorageController.upload, 'enctype -> "multipart/form-data") {
                 @helper.CSRF.formField

                 <div class="form-group">
                      <h5 >ชื่อโครงการ</h5>
                      <input type="text" class="form-control" name="title">
                  </div>

                      <div class="form-group">
                         <h5 for="detail">บทคัดย่อ</h5>
                         <textarea class="form-control" name="detail" rows="3"></textarea>
                       </div>


                        <div class="form-group">
                          <h5 for="detail2">วัตถุประสงค์</h5>
                          <textarea class="form-control" name="detail2" rows="3"></textarea>
                        </div>


                         <div class="form-group">
                           <h5 for="detail3">ขอบเขตโครงการ</h5>
                           <textarea class="form-control" name="detail3" rows="3"></textarea>
                         </div>


                          <div class="form-group">
                            <h5 for="detail4">เทคโนโลยีที่ใช้พัฒนา</h5>
                            <textarea class="form-control" name="detail4" rows="3"></textarea>
                          </div>


                           <div class="form-group">
                             <h5 for="detail5">ประโยชน์</h5>
                             <textarea class="form-control" name="detail5" rows="3"></textarea>
                           </div>

                    <div class="form-group">
                        <h5 for="img">รูปภาพ</h5>
                        <input type="file" class="form-control-file" name="img" aria-describedby="fileHelp" style="color: #2ECC71">
                    </div>


                    <div class=" text-right">
                      <button type="submit" class="btn btn-success">บันทึก</button> &nbsp; &nbsp;
                    </div>

               }

            </div>
          </div>
        </div>
      </div>

}
